<!DOCTYPE html>
<html lang="en-US">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Pyramid Sandbox">
	<meta name="author" content="Diyorbek Qodirboyev">
	<link rel="stylesheet" type="text/css" href="static/style.css" />
	<title>{{ proname }}</title>
</head>

<body>
	<h2>{{ greet }}</h2>
	<h1>Hello my name is {{ name }}!</h1>
	<img style="width: 200px" src="static/car-img.jpg">
</body>

</html>